* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2 {
    margin-top: 0;
}

h4 {
    font-size: 18px;
    line-height: 1.5;
}

section {
    width: 100vw;
    height: 100vh;
}

html,
body {
    scroll-behavior: smooth;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}

#logo {
    font-size: 2rem;
    color: #000;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

nav ul li {
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav ul li a:hover {
    border-bottom: solid 2px #000;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

}

.foto img {
    width: 100%;
    height: 400px;
}

.infotext {
    display: flex;
    padding: 20px;
    font-size: 16px;
    width: 60%;
    margin-top: 3rem;
}

#tekstoverlay {
    position: absolute;
    z-index: 1;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 5);
    opacity: 0;
    transform: translateX(50px);
}

.fade-in {
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.place {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animationspan3 {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    position: absolute;
    top: 510px;
    left: -40px;
    border-radius: 59% 41% 65% 35% / 20% 16% 84% 80%;
}

.animationspan4 {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    position: absolute;
    top: 530px;
    right: 40px;
    border-radius: 21% 79% 65% 35% / 60% 30% 70% 40%;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    color: #000;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 125px;

}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin: 1rem;
}

footer ul li i {
    color: #000;
}

footer ul li a {
    color: #000;
}